<div class="movie-container">
  <app-nav-bar></app-nav-bar>

  <div class="movie-card-container">
    <mat-card *ngFor="let movie of movies;" class="movie-card">
      <div class="card-wrapper">

        <div class="title-wrapper">
          <p>{{movie.Title}}</p>

        </div>
        <img src={{movie.ImagePath}} alt= {{movie.Title}} />

        <mat-card-actions class="card-actions-wrapper">
          <button class="card-buttons"
            mat-stroked-button

            (click)='getGenre(
            movie.Genre.Name,
            movie.Genre.Description
            )'>
            Genre
          </button>
          <button class="card-buttons"
            mat-stroked-button
            (click)='getDirector(
            movie.Director.Name,
            movie.Director.Bio,
            movie.Director.Birth,
            movie.Director.Death
            )'>
            Director
          </button>
          <button class="card-buttons"
            mat-stroked-button
            (click)='getDetails(
            movie.Title,
            movie.ImagePath,
            movie.Description,
            movie.Genre.Name,
            movie.Director.Name
            )'>
            Details
          </button>
          <button
            mat-icon-button
            color='warn'
            aria-label='Add movie to favorites button'
            (click)='addFavorite(movie._id, movie.Title)'>
            <mat-icon>favorite_border</mat-icon>
          </button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
</div>