.update-card {
  --blue: rgb(3, 118, 227);
  --default-font: "Archivo", sans-serif;
  --yellow: rgb(230, 208, 88);
  --black: rgb(0, 0, 0);
  font-family: var(--default-font);
  height: 501px;
  width: 430px;
  background-color: var(--yellow);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.update-container {
  width: 334px;
  height: 450px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}

#update-dialog-close-button {
  align-self: flex-end;
  background-color: var(--blue);
  color: white;
}

.update-header {
  text-align: center;
}

.update-title {
  font-size: 30px;
  line-height: 50px;
  color: var(--blue);
  font-weight: 300;
  font-family: var(--default-font);
}

#update-title {
  margin-bottom: 0;
}

.update-form {
  width: 334px;
  color: var(--blue);
  font-size: 15px;
  font-family: var(--default-font);
  line-height: 24px;
}

#username,
#password,
#email,
#birthday {
  border: 2px solid rgb(22, 78, 209);
  border-radius: 4px;
  background-color: #fff;
  color: var(--gray);
  display: block;
  width: 330px;
  height: 36px;
  margin-bottom: 10px;
}

::placeholder {
  opacity: 1;
  padding: 6px 37px 6px 0;
  font-size: 15px;
  line-height: 24px;
}

.update-button-container {
  margin-left: auto;
  width: 124px;
  height: 36px;
}

#update-info-button {
  background-color: var(--yellow);
  color: var(--blue);
  width: 100%;
  font-family: var(--default-font);
  font-weight: 700;
  text-align: center;
}

.update-dialog .mat-dialog-container {
  padding: 0;
  border-radius: 4px;
}
