<div class="director-container">
  <button id="close-button"
    mat-icon-button
    color='dark'
    [mat-dialog-close]='true'>
    <mat-icon>close</mat-icon>
  </button>
  <mat-dialog-content class="director-content">
    <h1 mat-dialog-title class="director-title">
      {{ data.Name }}
    </h1>
    
    <li>
      {{ data.Bio }}
    </li>
    <li>
      <span class="date">Date of Birth:</span> {{ data.Birth }}
    </li>
    <li>
      <span class="date">Date of Death:</span> {{ data.Death }}
    </li>
  </mat-dialog-content>

</div>
