<app-nav-bar></app-nav-bar>
<div class='profile-card-container'>
  <div class='profile-card-wrapper'>
    <div class="centeriser">

      <section class="profile-info">
        <h1>Profile Info</h1>
        <div class="general-info">

          <p style="margin: 0;">Username</p>
          <p>{{user.Username}}</p>
          <!-- <p>Password: ********</p> -->
          <p style="margin: 0;">Email</p>
          <p>{{user.Email}}</p>
          <p style="margin: 0;">Birthday</p>
          <p>{{user.Birthday | date: "dd/MM/yyyy":"UTC"}}</p>
        </div>
        <mat-card-actions class="profile-button-container">
          <button id="update-prof-dialog-button"
            mat-raised-button

            (click)='profileUpdate()'>
            Open Update Profile Dialog
          </button>

        </mat-card-actions>
        <div class="delete-account-container">
          <mat-icon id="delete-icon">
            delete_outline
          </mat-icon>
          <button id="delete-account-button"
            mat-button
            (click)='deleteUser()'>
            Delete Account
          </button>
        </div>
      </section>

  <!-- Favorites -->
  <section class="fav-movies">
    <h1>My Favorite Movies</h1>
    <div class='fav-movies-list'>
      <div class='favorites-cards' *ngFor='let favorite of favorites'>
        <div class="card-header">
          <mat-card-title class="blue-title">{{favorite.Title}}</mat-card-title>
          <mat-card-subtitle class="gray-subtitle">
            {{favorite.Director.Name}}</mat-card-subtitle>
        </div>
        <!-- <img src={{favorite.ImagePath}} alt={{favorite.Title}} /> -->
        <mat-card-actions>
          <mat-icon style="color: white;font-weight: 300; cursor: pointer;"
            (click)='removeFavorites(favorite._id, favorite.Title)'>
            delete_outline
          </mat-icon>
        </mat-card-actions>
      </div>
    </div>
  </section>
</div>
</div>
</div>